
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 600px;
    margin-bottom: 20px;
}

.main h2 {
    color: darkcyan;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
}

.form-item {
    flex: 1 1 45%; /* Allow two items to fit per row */
    margin-right: 20px; /* Space between columns */
    margin-bottom: 15px; /* Space below each item */
}

.form-item:last-child {
    margin-right: 0; /* Remove right margin for the last item in the row */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color:darkcyan;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}
